/* .App {
	text-align: left;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
} */

ul li {
	list-style: none;
	text-align: left;
}

.text-left {
	text-align: left;
}

.ui .inverted .menu {
	background-color: rgb(0, 162, 255) !important;
}

.ui.inverted.segment {
	height: 100vh;
	vertical-align: middle;
	background-color: rgb(0, 162, 255) !important;
}

.ui.inverted.button:hover {
	color: rgb(31, 184, 255);
}

.ui.inverted.button:hover i {
	color: rgb(31, 184, 255);
}